.system-notify

    --success_bg: $success_bg
    --success_text: $success_text

    --error_bg: $error_bg
    --error_text: $error_text

    --info_bg: $info_bg
    --info_text: $info_text

    --warning_bg: $warning_bg
    --warning_text: $warning_text

    --progress_overlay: $progress_overlay

    --font: var(--tc_ui_font, $font)
    --title_size: $title_size
    --text_size: $text_size

    position: relative
    overflow: hidden
    min-height: $height
    max-width: 100%
    font-family: var(--font, $font)

    // @media( max-width: ($width + 2 * $gap) )
    //     width: auto

    @media( min-width: ($width + 2 * $gap + 1px) )
        min-width: $width

    &__progress
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: var(--progress_overlay, $progress_overlay)
        transform-origin: left center
        animation-name: notify-progress
        animation-fill-mode: forwards
        animation-timing-function: linear

    &__content
        box-sizing: border-box
        padding: $gap
        padding-right: (3 * $gap)
        font-size var(--text_size, $text_size)
        max-width: 100%

        ^[0].theme-progress &
            position: relative
            z-index: 1

    &__title
        color: inherit
        font-size var(--title_size, $title_size)
        line-height: 1.1
        font-weight 700
        margin: 0 0 ($gap / 2)
        display: block
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    &__message
        margin: 0
        overflow: hidden

    &__buttons
        margin: ($gap / -4) 0 0 ($gap / -4)

    // button reset
    &__close,
    &__btn
        cursor: pointer
        color: inherit
        appearance: none
        background: none
        border: none
        box-sizing: border-box

    &__close
        display: block
        padding: (($height - 25px) / 2)
        width: $height
        height: $height
        line-height: $gap

        absolute right ($gap / 2) top ($gap / 2)
        z-index: 1

        // svg > *
        //     stroke: currentColor

        &:hover,
        &:focus
            opacity: .7

    &__btn.btn
        display: inline-block
        width: auto
        min-width: inherit
        font-size: inherit
        line-height: ($height - $gap - 2px)
        background: none
        text-transform: uppercase
        padding: ($gap / 4) ($gap / 2)
        margin: ($gap / 4) 0 0 ($gap / 4)
        // margin: ($gap / 4)
        border: 1px solid currentColor

        &:hover,
        &:focus
            background: $button_hover_bg


    // status
    &.is-info
        background-color: var(--info_bg, $info_bg)
        color: var(--info_text, $info_text)

    &.is-success
        background-color: var(--success_bg, $success_bg)
        color: var(--success_text, $success_text)

    &.is-error,
    &.is-danger
        background-color: var(--error_bg, $error_bg)
        color: var(--error_text, $error_text)

    &.is-warning
        background-color: var(--warning_bg, $warning_bg)
        color: var(--warning_text, $warning_text)


    &.theme-inline
        display: flex
        align-items: center

        .system-notify

            &__title
                font-size var(--text_size, $text_size)
            
            &__title,
            &__message
                margin: 0 ($gap / 4) ($gap / 4) 0
                line-height: ($height - ($gap / 2))
            
            &__message
                overflow: hidden
                text-overflow: ellipsis

            &__buttons
                margin-bottom: ($gap / 4)
                text-align: center
            

            &__content
                flex-grow: 1
                display: flex
                flex-wrap: wrap
                align-items: center
                padding: ($gap / 4) 0 0 $gap
                max-width: 90%
                max-width: calc(100% - 35px)

            &__close
                right: auto
                top: auto
                position: relative
                margin-right: ($gap / 4)

    &.theme-rounded
        border-radius: ($height / 2)
